body{
    margin:0;
    text-align:center;
    font-family: 'Merriweather', serif;
    color:#40514E;
}
@media screen and (max-width:600px) {
    .middle-container{
        width:600px;
        flex-direction: column;
        text-align: center;
        margin-left: 300px;
        position: relative;
    }
    .bottom-container{
        width:700px;
        background-color: #66BFBF;
        text-align: center;
    }
    .top-portion{
        flex-direction: column;
        background-color: #11999E;
        width:600px;
    }
    .moun{
        width:500px;
        height: 300px;
    }
    .skills{
        width:600px;
    }
}

h1{
    line-height: 2;
    color : #66BFBF;
    margin-top:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size:5.625rem;
}
h2{
    color: #66BFBF;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom:10px;
   
}
h3{
    color:#11999E;
    font-family: 'Merriweather', serif;

}
.top-portion{
    background-color: #c4fafa;
    position:relative;
    padding:50px;
}
.middle-container{
    margin:100px 0;


}
.bottom-container{
    background-color: #66BFBF;

    padding:50px 0 20px;
}
hr{
    border:dotted #5d6363;
    border-bottom:none ;
    width:5%;
    margin:100px auto;
}
.detail{
    width:40%;
    margin:100px auto;
}
p{
    line-height: 2;
}
.pro{
    width:25%;
    border-radius: 100%;

}   
.intro{
    width: 30%;
    margin: auto;
}
.computer{
    border-radius: 100%;
    width: 25%;
    float:right;
    margin-left:30px;
}
.dance{
    border-radius: 100%;
    width: 35%;
    float:left;
    margin-right:30px;
}

span{
    
    text-decoration:underline ;
}
.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align:left;
    line-height:2;
}
.b-cloud
{
    position:relative;
    bottom:300px;
    left:100px;
}
.u-cloud
{
    position:relative;
    top:40px;
    left:200px;
}
.btn {
    
    background: #2f698f;
    background-image: -webkit-linear-gradient(top, #2f698f, #5b99bf);
    background-image: -moz-linear-gradient(top, #2f698f, #5b99bf);
    background-image: -ms-linear-gradient(top, #2f698f, #5b99bf);
    background-image: -o-linear-gradient(top, #2f698f, #5b99bf);
    background-image: linear-gradient(to bottom, #2f698f, #5b99bf);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
   
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #407599);
    background-image: -moz-linear-gradient(top, #3cb0fd, #407599);
    background-image: -ms-linear-gradient(top, #3cb0fd, #407599);
    background-image: -o-linear-gradient(top, #3cb0fd, #407599);
    background-image: linear-gradient(to bottom, #3cb0fd, #407599);
    text-decoration: none;
  }


  a{
    color:#11999E;
    font-family: 'Merriweather', serif;
    margin:10px 20px;
    text-decoration: none;
  }
  a:hover{
    color:white;
  }
  .cpy{
    color:white;
    font-size:.85rem;
  }